.operation,
.invite,
.share {
  width: 100%;
  min-height: 100vh;
  background: #22c9ff;
  padding-bottom: 174rpx;
  padding-bottom: calc(env(safe-area-inset-bottom) + 174rpx);
}

.share {
  background: #f6f6f6;
}
