// 作业模块通用样式
@import './variables.scss';

// 全局样式重置
page {
  background-color: $bg-secondary;
  font-size: $font-size-base;
  color: $text-primary;
  line-height: 1.5;
}

// 通用工具类
.text-center {
  text-align: center;
}

.text-ellipsis {
  @include text-ellipsis;
}

.flex-center {
  @include flex-center;
}

.flex-between {
  @include flex-between;
}

// 安全区域
.safe-bottom {
  @include safe-area-bottom;
}
